<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}list-view">
    <header>
        <h2 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}"><a
                href="{{ .RelPermalink }}">{{ .Title }}
                {{ if $.Param "episode" | default false }} - ep.#{{ $.Param "episode" }}{{ end }}</a></h2>
        {{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . -}}{{ end }}
    </header>
    <div class="content">
        {{ .Summary }}
    </div>
</article>