---
title: "{{ title }}"
date: {{ date }}
lastmod: {{ date }}
episode: {{ episode_number }}
author: "DevSecOps Talks"
participants: ["Paulina", "Mattias", "Andrey"]
podbean_id: "{{ podbean_id }}"
youtube_id: "{{ youtube_id }}"
---

{{ description }}

<!--more-->

<!-- Player -->

{% raw %} {{< {% endraw %} podbean {{ podbean_id }} "DEVSECOPS Talks {{ title }}" {% raw %} >}} {% endraw %}

## Notes

* TBD