---
title: "{{ title }}"
date: {{ date }}
lastmod: {{ date }}
episode: {{ episode_number }}
author: "DevSecOps Talks"
participants: ["Paulina", "Mattias", "Andrey"]
---

{{ description }}

[Discuss the episode or ask us anything on LinkedIn](https://www.linkedin.com/company/devsecops-talks/)

<!--more-->

<!-- Player -->

{% raw %} {{< {% endraw %} podbean {{ podbean_id }} "DEVSECOPS Talks {{ title }}" {% raw %} >}} {% endraw %}

---

<!-- Video -->

{% raw %} {{< {% endraw %} youtube {{ youtube_id }} {% raw %} >}} {% endraw %}
